<div id="comments">
	<%@comments.each do |comment| %>
			<tr>
				<td ><%=comment.author %> </td>
				<td ><%=comment.content %></td>

			</tr>
	<%end%>
</div>
<!-- one way -->
<!--p><!%= link_to "New Comment", new_post_comment_path(@commentable)%></p-->
<!-- better way for any association other than post -->
