
<tr>
	<td style="color:#0B6121"><%=post.title%></td>
	<td style="color:#0B6121"><%=post.content%></td>
</tr>
<tr>
	<td style="color:#0B6121"><b>Post Status: </b><%= post.status%></td>
	<td style="color:#0B6121"><b>Posted By: <%= post.username%></b></td>
</tr>
