<tr>
	<td style="color:#08088A"><%=post.title%></td>
	<td style="color:#08088A"><%=post.content%></td>
</tr>
<tr>
	<td style="color:#08088A"><b>Post Status: </b><%= post.status%></td>
	<td style="color:#08088A"><b>Posted By: <%= post.username%></b></td>
</tr>

